body {
	margin:0;
	padding:0;
}

.sidebar {
	float: right;
	width: 200px;
	border: 1px solid gray;
}
.content {
	overflow: auto;
	/*border: 1px solid gray;*/
	font-size: 20px;
}
.pcenter {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.img-container {
	min-height: 400px;
	background-image: url(sunriseheader.png);
	background-repeat: no-repeat;
	background-size: 1800px 400px;
	background-position: center top;
}